.recommend {
    position: absolute;
    top: 0;
    bottom: 41px;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.8);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .recommend-info {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: space-between;
       
        .recommend-info-left {
            display: flex;
            flex-direction: row;
            align-items: center;

            .recommend-info-portrait {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-size: cover;
            }

            .recommend-info-follow {
                padding: 7px 20px;
                background: rgba(242, 120, 121, 1);
                border-radius: 17px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                margin-left: 30px;
                cursor: pointer;
            }
        }

        .recommend-info-operate {
            flex: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            font-size: 14px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);

            .recommend-info-operate-body {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                cursor: pointer;

                .recommend-info-img {
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                }
                .zan-icon {
                }
                .collection-icon {
                }
            }
            .recommend-info-operate-body-collection {
                margin-left: 40px;
            }
            .recommend-info-operate-body-share {
                margin-left: 40px;
            }
            .recommend-info-operate-body-zan {
                margin-left: 40px;
            }
            .recommend-info-operate-body-replay {
              margin-left:0 ;
            }
        }
    }

    .recommend-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 68%;
        margin-top: 0px;
        justify-content: space-between;

        .recommend-list-item {
            width: 31%;
            padding-bottom: 16%;
            margin-top: 20px;
            border-radius: 14px;
            background-size: 100% 100%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            position: relative;
            span {
                position: absolute;
                bottom: 10px;
                left: 12px;
                right: 12px;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
